@using BW.BLL.Account
@using BW.BLL.Repository
@using BW.Models.IdentityModels
@using Microsoft.AspNet.Identity
@{
	var userStore = MembershipTools.NewUserStore();
	var userManager = new UserManager<ApplicationUser>(userStore);
	var user = userManager.FindById(HttpContext.Current.User.Identity.GetUserId());
	var confirms = new Repository.ArticleRepo().Queryable().Where(x => x.Confirmed == false).Count();
	var usersCount = userManager.Users.Count();
	var currentRole = "Passive";
	if (user != null)
	{
		currentRole = userManager.GetRoles(user.Id).FirstOrDefault();

	}
}
<div class="header">
	<div class="header_top">
		<div class="wrap">
			<div class="header-top-left">
				<div class="logo">
					<a href="@Url.Action("Index","Home")">
						<h1>Murat Bircan</h1>
						<h2>Blog</h2>
					</a>
				</div>
				<div class="menu">
					<ul class="menu bounce">
						<li class="active"><a href="@Url.Action("Index","Home")">Ana Safya</a></li>
						<li><a href="#">Hakkımızda</a></li>
						<li><a href="@Url.Action("Contact","Home")">İletişim</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div class="header-top-right">			
				@if (user != null)
				{
					if (HttpContext.Current.User.Identity.IsAuthenticated)
					 {
						 <div style="padding-left: 40px">
							 <img id="profile" src="@(user.PhotoURL)">
						 </div>
					 }
					<ul class="menu">
						<li>
							<a class="btn btn-info" title="@user.UserName" href="@Url.Action("Profile", "Account", new {id = user.Id})">Profil</a>
						</li>
						<li>
							<a class="btn btn-danger" title="Çıkış Yap" href="@Url.Action("Logout", "Account")">Çıkış Yap</a>
						</li>
						@if (currentRole == "Admin" || currentRole == "Editor")
						{
							<li>
								<a class="btn btn-warning" title="Bekleyen Makaleler" href="@Url.Action("ConfirmArticles", "Article")">Bekleyen Makaleler(@confirms)</a>
							</li>
						}
						@if (currentRole == "Admin")
						{
							<li>
								<a class="btn btn-warning" title="Bekleyen Makaleler" href="@Url.Action("EditUsers", "Account")">Kullanıcılar(@usersCount)</a>
							</li>
						}
					</ul>
				}
				else
				{
					<ul class="menu" style="padding-right:40px">
						<li>
							<a class="btn btn-success" title="Giriş Yap" href="@Url.Action("Login", "Account")">Giriş Yap</a>
						</li>
						<li>
							<a class="btn btn-info" title="Kayıt Ol" href="@Url.Action("Register", "Account")">Kayıt Ol</a>
						</li>
					</ul>
					<div class="clear"></div>
				}
			</div>
			<div class="header-top-right">
				<div class="sosmedya">
					<ul>
						<li><a class="fa fa-instagram fa-2x"href="https://www.instagram.com/muratbircan9/" target="_blank"></a></li>
						<li><a class="fa fa-facebook fa-2x" href="https://www.facebook.com/m.bircan.9" target="_blank"></a></li>
						<li><a class="fa fa-twitter fa-2x" href="https://twitter.com/Mbircan9" target="_blank"></a></li>
						<li><a class="fa fa-steam fa-2x" href="http://steamcommunity.com/id/mbircan9/" target="_blank"></a></li>
						<li><a class="fa fa*linkedin fa-2x" href="https://www.linkedin.com/in/murat-bircan-5b82a4159/" target="_blank"></a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="search_box" style="padding-top: 5px;">
					@using (Html.BeginForm("GetByKeywords", "Article", FormMethod.Post))
					{
						@Html.AntiForgeryToken()
						<input type="text" class="text-box" placeholder="Sitede arayın.." name="search"><input type="submit" value="" />
					}
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>

