@model BW.Models.ViewModels.ArticleCommentMultiViewModel
@using BW.BLL.Account
@using BW.Models.IdentityModels
@using Microsoft.AspNet.Identity
@{
	var userStore = MembershipTools.NewUserStore();
	var userManager = new UserManager<ApplicationUser>(userStore);
	var currentRole = "Passive";
	var user = userManager.FindById(HttpContext.Current.User.Identity.GetUserId());
	if (user != null)
	{
		currentRole = userManager.GetRoles(user.Id).FirstOrDefault();
	}
}
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="content">
	<div class="row">
		<div class="col-md-12">
			@if (currentRole != "Passive")
			{
				<a class="btn btn-info btn-lg" href="@Url.Action("Insert","Article")">Makale Yaz</a>
			}
		</div>
	</div>
	<div class="box1">
		<h3>@Model.Article.Header</h3>
		<span>Yazar : @Model.Article.User.UserName @Model.Article.User.Surname</span><span class="likes">@Model.Article.LikeCount</span>
		<div class="blog-data">
			@Model.Article.Content
		</div>
		<div class="clear"></div>
	</div>
	<!----------------  Comment Area -------------------->
	<div class="box comment">
		<h2>Yorumlar <span>@Model.Comments.Count</span> </h2>
		<ul class="list">
			@foreach (var item in Model.Comments)
			{
				<li>
					<div class="data">
						<div class="title">@item.UserId<a href="#"> @item.CommentDate</a></div>
						<p>@item.CommentContent</p>
					</div>
					<div class="clear"></div>
				</li>
			}
		</ul>
		<div class="clear"></div>
	</div>
	@if (HttpContext.Current.User.Identity.IsAuthenticated)
	{
		<div class="comments-area">
			<span>@Html.ValidationSummary()</span>
			@using (Html.BeginForm("Insert", "Comment", FormMethod.Post,new {id=HttpContext.Current.User.Identity.GetUserId()}))
			{
				@Html.AntiForgeryToken()
				@Html.HiddenFor(x => x.Article.ArticleId)
				<p>
					<label>İsim</label>
					<span>*</span>
					@Html.TextBoxFor(x => x.NewComment.User.UserName)
				</p>
				<p>
					<label>Yorum</label>
					<span>*</span>
					@Html.TextAreaFor(x => x.NewComment.CommentContent)
				</p>
				<p>
					<input type="submit" value="Yorum Yap">
				</p>
			}
		</div>
	}
	<div class="clear"> </div>
	<!----------------- End Comment Area ----------------->
</div>

