@model BW.Models.ViewModels.ArticleViewModel
@using Microsoft.AspNet.Identity
@{
	ViewBag.Title = "Insert";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	<span class="text-danger">@Html.ValidationSummary()</span>
	<h3><img src="~/images/r-blog.png" title="Makale Ekle">Makale Ekle</h3>
	@using (Html.BeginForm("Insert", "Article", FormMethod.Post, new { @class = "form-horizontal" }))
	{
		@Html.AntiForgeryToken()
		<p>
			<label>Başlık</label>
			@Html.TextBoxFor(x => x.Header, new { @class = "form-control", placeholder = "Başlık" })
			<span class="text-danger">@Html.ValidationMessageFor(x => x.Header)</span>
		</p>
		<p>
			<label>Kategori</label>
			@Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.kategorilist, new { @class = "form-control" })
			<span class="text-danger">@Html.ValidationMessageFor(x => x.CategoryId)</span>
		</p>
		<p>
			<label>İçerik</label>
			@Html.TextAreaFor(x => x.Content, new { @class = "form-control", placeholder = "Makalenizi yazın.." })
			<span class="text-danger">@Html.ValidationMessageFor(x => x.Content)</span>
		</p>
		<p>
			<input type="submit" value="Gönder">
		</p>
	}
</div>
@section script{
	<script src="~/Scripts/ckeditor/ckeditor.js"></script>
	<script>
		CKEDITOR.replace('Content',
			{
				uiColor: '#3e59ad'
			});
	</script>
}

