@model BW.Models.ViewModels.ArticleCommentMultiViewModel
@using BW.BLL.Account
@using BW.Models.IdentityModels
@using Microsoft.AspNet.Identity
@{
	var userStore = MembershipTools.NewUserStore();
	var userManager = new UserManager<ApplicationUser>(userStore);
	var currentRole = "Passive";
	var user = userManager.FindById(HttpContext.Current.User.Identity.GetUserId());
	if (user != null)
	{
		currentRole = userManager.GetRoles(user.Id).FirstOrDefault();
	}
}
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<article class="entry">

	<header class="entry-header">

		<h2 class="entry-title">
			@Model.Article.Header
		</h2>

		<div class="entry-meta">
			<ul>
				<li>@Model.Article.AddDate</li>
				<span class="meta-sep">&bull;</span>
				<li>
					<a href="#" title="" rel="category tag">@Model.Article.Category.CategoryName</a>
				</li>
				<span class="meta-sep">&bull;</span>
				<li>@Model.Article.User.UserName</li>
			</ul>
		</div>

	</header>
	<div class="entry-content">
		<p class="lead">
			@Html.Raw(Model.Article.Content)
		</p>
	</div>
</article>

<!-- Comments
================================================== -->
<div id="comments">
	<h3>Yorumlar (@Model.Article.Comments.Count)</h3>
	<!-- commentlist -->
	@if (Model.Comments != null)
	{
		<ol class="commentlist">
			<li class="depth-1">
				@foreach (var item in Model.Comments)
				{
					<div class="avatar">
						<img width="50" height="50" class="avatar" src=@item.User.PhotoURL alt="">
					</div>
					<div class="comment-content">

						<div class="comment-info">
							<cite>@item.User.UserName</cite>

							<div class="comment-meta">
								<time class="comment-time" datetime="2014-07-12T23:05">@item.CommentDate</time>
							</div>
						</div>
						<div class="comment-text">
							<p>
								@item.CommentContent
							</p>
						</div>
					</div>
				}
			</li>
		</ol> <!-- Commentlist End -->
	}
	<!-- respond -->
	@if (HttpContext.Current.User.Identity.IsAuthenticated)
	{
		<div class="respond">
			<h3>Yorum Yap</h3>
			@using (Html.BeginForm("Insert", "Comment", FormMethod.Post, new { name = "contactForm", id ="contactForm"}))
			{
				@Html.AntiForgeryToken()
				@Html.HiddenFor(x => x.Article.ArticleId)
				@Html.HiddenFor(x=>x.Article.Header)
				<input type="hidden" name="CommenterId" value="@user.Id"/>
				<fieldset>
					<div class="message group">
						<label for="cMessage">Message <span class="required">*</span></label>
						@Html.TextAreaFor(x => x.NewComment.CommentContent, new { name = "cMessage", id = "cMessage", rows = "10", cols = "50" })
					</div>

					<button type="submit" class="submit">Gönder</button>
				</fieldset>
			}
		</div> <!-- Respond End -->
	}
</div>  <!-- Comments End -->
