
@model List<BW.Models.Entities.Article>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="wrap">
	<div class="main">
		<div class="content">
			@foreach (var item in Model)
			{
				<div class="box1">
					<h3><a href="@Url.Action("Index","Article",new {id=item.ArticleId})">@item.Header</a></h3>
					<span>Yazar: @item.Author<span class="likes">@item.Likes</span></span>
					<div class="data">
						<p>@item.Content</p>
						<span><a href="@Url.Action("Index","Article",new {id=item.ArticleId})">Devamını Oku>>></a></span>
					</div>
					<div class="clear"></div>
				</div>
			}
			<div class="page_links">
				<div class="next_button">
					<a href="#">İleri</a>
				</div>
				<div class="page_numbers">
					<ul>
						<li><a href="#">1</a>
						<li class="active"><a href="#">2</a>
						<li><a href="#">3</a>
						<li><a href="#">4</a>
						<li><a href="#">5</a>
						<li><a href="#">6</a>
						<li><a href="#">... İleri</a>
					</ul>
				</div>
				<div class="clear"></div>
				<div class="page_bottom">
					<p>Geri Git: <a href="#">Yukarı</a> | <a href="#">Ana Sayfa</a></p>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

