@model BW.Models.ViewModels.ArticleViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="comments-area">
	<span class="text-danger">@Html.ValidationSummary()</span>
	<h3><img src="~/images/r-blog.png" title="Makale Ekle">Makale Ekle</h3>
	@using (Html.BeginForm("Insert", "Article", FormMethod.Post))
	{
		@Html.AntiForgeryToken()
		<p>
			<label>Başlık</label>
			<span>*</span>
			@Html.TextBoxFor(x => x.Header)
		</p>
		<p>
			<label>İçerik</label>
			<span>*</span>
			@Html.TextAreaFor(x => x.Content)
		</p>
		<p>
			<label>Anahtar Kelimeler (Aralarında ";" olacak şekilde ekleyebilirsiniz.</label>
			<span>*</span>
			@Html.TextBoxFor(x => x.Keywords)
		</p>
		<p>
			<input type="submit" value="Gönder">
		</p>
	}
</div>

