@using BW.BLL.Account
@using BW.BLL.Repository
@using BW.Models.IdentityModels
@using Microsoft.AspNet.Identity
@{
	var userStore = MembershipTools.NewUserStore();
	var userManager = new UserManager<ApplicationUser>(userStore);
	var user = userManager.FindById(HttpContext.Current.User.Identity.GetUserId());
	var confirms = new Repository.ArticleRepo().Queryable().Where(x => x.Confirmed == false).Count();
	var usersCount = userManager.Users.Count();
	var currentRole = "Passive";
	if (user != null)
	{
		currentRole = userManager.GetRoles(user.Id).FirstOrDefault();

	}
}
<div class="header">
	<div class="header_top">
		<div class="wrap">
			<div class="header-top-left">
				<div class="logo">
					<a href="@Url.Action("Index","Home")">
						<h1>Murat Bircan</h1>
						<h2>Blog</h2>
					</a>
				</div>
				<div class="menu">
					<ul class="menu bounce">
						<li class="active"><a href="@Url.Action("Index","Home")">Ana Safya</a></li>
						<li><a href="@Url.Action("AboutUs","Home")">Hakkımızda</a></li>
						<li><a href="@Url.Action("Contact","Home")">İletişim</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div class="header-top-right" style="padding-left: 20px;padding-right: 0">
				@if (HttpContext.Current.User.Identity.IsAuthenticated)
				{
				<span style="padding-left: 50px">
					<img id="profile" src="~/images/user.png" style="height: 100px; width: 100px; border: 2px solid black; border-radius: 50px" />
				</span>
				}
				<div>
					@if (user != null)
					{
						<ul class="menu">
							<li>
								<a class="btn btn-info" title="@user.UserName" href="@Url.Action("Profile", "Account", new {id = user.Id})">Profil</a>
							</li>
							<li>
								<a class="btn btn-danger" title="Çıkış Yap" href="@Url.Action("Logout", "Account")">Çıkış Yap</a>
							</li>
							@if (currentRole == "Admin" || currentRole == "Editor")
							{
								<li>
									<a class="btn btn-warning" title="Bekleyen Makaleler" href="@Url.Action("ConfirmArticles", "Article")">Bekleyen Makaleler(@confirms)</a>
								</li>
							}
							@if (currentRole == "Admin")
							{
								<li>
									<a class="btn btn-warning" title="Bekleyen Makaleler" href="@Url.Action("EditUsers", "Account")">Kullanıcılar(@usersCount)</a>
								</li>
							}
						</ul>
					}
					else
					{
						<ul class="menu">
							<li>
								<a class="btn btn-success" title="Giriş Yap" href="@Url.Action("Login", "Account")">Giriş Yap</a>
							</li>
							<li>
								<a class="btn btn-info" title="Kayıt Ol" href="@Url.Action("Register", "Account")">Kayıt Ol</a>
							</li>
						</ul>
					}
				</div>

			</div>
			<div class="header-top-right">
				<div class="social-icons">
					<ul>
						<li><a class="youtube" href="#" target="_blank"><span>Youtube</span></a></li>
						<li><a class="facebook" href="#" target="_blank"><span>Facebook</span> </a></li>
						<li><a class="twitter" href="#" target="_blank"><span>Twitter</span> </a></li>
						<li><a class="skype" href="#" target="_blank"><span>Skype</span> </a></li>
						<li><a class="likedin" href="#" target="_blank"><span>Linkedin</span> </a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="search_box">
					@using (Html.BeginForm("GetByKeywords", "Article", FormMethod.Post))
					{
						@Html.AntiForgeryToken()
						<input type="text" class="text-box" placeholder="Sitede arayın.." name="search"><input type="submit" value="" />
					}
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>

