
<div class="header">
	<div class="header_top">
		<div class="wrap">
			<div class="header-top-left">
				<div class="logo">
					<a href="@Url.Action("Index","Home")">
						<h1>Murat Bircan</h1>
						<h2>Blog</h2>
					</a>
				</div>
				<div class="menu">
					<ul class="menu bounce">
						<li class="active"><a href="@Url.Action("Index","Home")">Ana Safya</a></li>
						<li><a href="@Url.Action("AboutUs","Home")">Hakkımızda</a></li>
						<li><a href="@Url.Action("Contact","Home")">İletişim</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div class="header-top-right">
				<div class="social-icons">
					<ul>
						<li><a class="youtube" href="#" target="_blank"><span>Youtube</span></a></li>
						<li><a class="facebook" href="#" target="_blank"><span>Facebook</span> </a></li>
						<li><a class="twitter" href="#" target="_blank"><span>Twitter</span> </a></li>
						<li><a class="skype" href="#" target="_blank"><span>Skype</span> </a></li>
						<li><a class="likedin" href="#" target="_blank"><span>Linkedin</span> </a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="search_box">
					@using (Html.BeginForm("GetByKeywords", "Article", FormMethod.Post))
					{
						@Html.AntiForgeryToken()
						<input type="text" class="text-box" placeholder="Sitede arayın.." name="search"><input type="submit" value="" />
					}
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>

